<nav>
    <ul>
        <div class="left">
            <li><a href="/shop">SHOP</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/futures">FUTURES</a></li>
        </div>
        <li><a class="logo" href="/">rhode</a></li>
        <div class="right">
            <li><a href="/search">SEARCH</a></li>
            <li><a href="/account">ACCOUNT</a></li>
            <li><a href="/cart">CART</a></li>
        </div>
    </ul>
</nav>
<style type=text/css>
@font-face{
    font-family: rhodeFont;
    src: url('/fonts/NNRektoratSTD-Heavy/NNRektoratSTD-Heavy.ttf') format('truetype');
}

nav {
    background-color: #F1F0ED;
    width: 97%;
    height: 78px;
    margin-top: 1.5%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    display: inline-flex;
    border-radius: 15px;
    position: relative;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 30px;
    font-family: 'rhodeFont';
}

.left {
    left: 5%;
    position: absolute;
    display: inline-flex;
}
.left li a {
    font-size: 18px;
    color: #67645E;
    text-decoration: none;
    margin-right: 40px;
}
.logo {
    font-size: 38px;
    font-weight: bold;
    color: #67645E;
    text-decoration: none;
    left: 45%;
    position: absolute;
    margin-top: -15px;
}
.right {
    right: 5%;
    position: absolute;
    display: inline-flex;
}

.right li a {
    font-size: 18px;
    color: #67645E;
    text-decoration: none;
    margin-left: 40px;
}

</style>

<!-- kolory: #F1F0ED,  #67645E -->