<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/searchPage.css">
</head>
<body>
    <div class="background">
        <form action="/shop/search" method="GET">
            <div class="search-window">
                <input type="text" name="name" id="searchInput" placeholder="Type here">
                <button type="submit">Search</button>
            </div>
        </form>   
    </div>
</body>
</html>